extends layout

block content
  section.checkout
    div
      .btn-container
        button.btn-paypal paypal
    div.items-container
      each item in products
        .item
          div.image-container
            img(width=100 heigth=100 src=item.product.productImageURL)
            span=item.quantity
            p=item.product.name
          div=item.product.price
      div
        h4 Total: $#{total}.00MXN